Import modules

In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
import xgboost
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
from xgboost import XGBClassifier

from sklearn.preprocessing import LabelEncoder, RobustScaler
from scipy.stats import shapiro, boxcox
from sklearn.model_selection import GridSearchCV, KFold, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

Load data from files

In [2]:
titanic_df = pd.read_csv('train.csv')
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Missing values

In [3]:
percent_missing_nans = titanic_df.isnull().sum() * 100 / len(titanic_df)
nans = pd.DataFrame({'col_name': titanic_df.columns, 'percent_missing': percent_missing_nans}).reset_index(drop = True)

missing_vals_cols = nans[nans['percent_missing'] != 0]
print(missing_vals_cols)

    col_name  percent_missing
5        Age        19.865320
10     Cabin        77.104377
11  Embarked         0.224467

In [4]:
# Drop missing values

titanic_df = titanic_df[~titanic_df['Age'].isnull()]
print('There are', len(titanic_df), 'samples')

There are 714 samples

Label encoding

In [5]:
class DfLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns

    def fit(self,X,y=None):
        return self

    def transform(self,X):
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y = None):
        return self.fit(X,y).transform(X)

In [6]:
titanic_df_cat = titanic_df.select_dtypes(include=['object'])
titanic_df = DfLabelEncoder(columns = titanic_df_cat.columns).fit_transform(titanic_df)
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,103,1,22.0,1,0,408,7.2500,134,2
1,2,1,1,179,0,38.0,1,0,471,71.2833,73,0
2,3,1,3,317,0,26.0,0,0,532,7.9250,134,2
3,4,1,1,247,0,35.0,1,0,40,53.1000,49,2
4,5,0,3,15,1,35.0,0,0,373,8.0500,134,2

In [7]:
titanic_df.to_csv("titanic.csv")

Training and testing Dataset Splits

In [8]:
# X = titanic_df.loc[:, titanic_df.columns != 'Survived']
# y = titanic_df['Survived']
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42, stratify = y)

Saving to CSV File

In [9]:
# X_train_name = "xtrain.csv"
# X_test_name = "xtest.csv"
# y_train_name = "ytrain.csv"
# y_test_name = "ytest.csv"
# names = [X_train_name, X_test_name, y_train_name, y_test_name]
# df_list = [X_train, X_test, y_train, y_test]
# for (name, df) in zip(names, df_list):
#     df.to_csv(name)

In [10]:
# print(y_train[:3])
# print(y_test[:3])